body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #e2ecf5;
    color: #5481A5;
}

.logo img {
    height: 50px;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

li {
    display: inline;
    padding: 5px;
}

.welle {
    position: relative;
    height: 50px;
}

.custom-shape-divider-top-1699885465 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1699885465 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1699885465 .shape-fill {
    fill: #e2ecf5;
}

.headerbild {
    background-image: url("../img/Startbild.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 30%;
   /* position: relative;*/
}

.headerbild-wrapper {
    /*position: absolute;*/
    position: relative;
    width: 100%;
    height: 100%;
}

.welle-headerbild {
    position: relative;
}

.custom-shape-divider-top-1700142486 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1700142486 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1700142486 .shape-fill {
    fill: #FFFFFF;
}

.einfuehrung {
    background-color: #e2ecf5;
}

.title-text {
    text-align: center;
    font-size:3.5vw ;
    padding-top: 20px;
    margin: 0;
}

.text-einfuehrung {
    display: flex;
    justify-content: center;
    padding: 30px 200px 0px 200px;
    text-align: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#unterbruch-einfuehrung {
    position: relative;
    padding-top: 5px;
    background-color: #e2ecf5;
  }
  #unterbruch-einfuehrung:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 100%;
    margin-top: -1px; /* solves an issue with subpixel rendering sometimes showing a seam */
    left: 0;
    right: 0;
    height: 21px;
    background-image: url('../img/paper-tear-blue-01-01.png');
  }

.linie {
    border: 1px solid grey;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}

.spikes {
    position: relative;
    background: teal;
    height: 1vh;
  }
  
  .spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 10px;
    background-size: 10px 100%;
    background-image: linear-gradient(135deg, teal 25%, transparent 25%), linear-gradient(225deg, teal 25%, transparent 25%);
    background-position: 0 0;
  }

.medusa {
    padding: 60px 60px 0 60px;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 0.05fr 1.9fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "medusatitel medusatitel"
      "medusatext saeule";
  }
  
  .medusatext { 
    grid-area: medusatext;
 }
  
  .saeule img { 
    grid-area: saeule;
    width: 50%;
    height: 50%;
 }
  
  .medusatitel { 
    grid-area: medusatitel;
 }
  
h3 {
    text-align: left;
}

.goetter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px 0 70px;
    gap: 30px;
    /* background-color: blue; */
}

 .gott-athena {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    /* background-color: turquoise; */
}

.athena {
    text-align: center;
    padding: 0 15px 0 15px;
    /*background-image: url('../img/Athena.png');
    background-size: 100%;*/
}

.gott-poseidon {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; 
}

.poseidon {
    text-align: center;
    padding: 0 15px 0 15px;
}

#unterbruch {
    position: relative;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 10px;
  }
  #unterbruch:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 100%;
    margin-top: -1px; /* solves an issue with subpixel rendering sometimes showing a seam */
    left: 0;
    right: 0;
    height: 37px;
    background-image: url('https://gschoppe.com/wp-content/uploads/2018/04/seamless-paper-tear.png');
  }

  .me {
    padding: 50px;
  }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


