body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #e2ecf5;
    color: #5481A5;
}

.logo img {
    height: 50px;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 3vw;
    padding-right: 50px;
}

li {
    display: inline;
    padding: 5px;
}

.welle {
    position: relative;
    height: 50px;
}

.custom-shape-divider-top-1699885465 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1699885465 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1699885465 .shape-fill {
    fill: #e2ecf5;
}

.headerbild {
    background-image: url("../img/Startbild.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 30%;
    margin-bottom: 50px;
   /* position: relative;*/
}

.headerbild-wrapper {
    /*position: absolute;*/
    position: relative;
    width: 100%;
    height: 100%;
}

.welle-headerbild {
    position: relative;
}

.custom-shape-divider-top-1700142486 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1700142486 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1700142486 .shape-fill {
    fill: #FFFFFF;
}

.einfuehrungBg {
    background-color: #e2ecf5;
    /*animation: fadeIn 5s;*/
}

.title-text {
    text-align: center;
    font-size:3.5vw ;
    padding-top: 20px;
    margin: 0;
}

.text-einfuehrung {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#unterbruch-einfuehrung {
    position: relative;
    padding-top: 5px;
    background-color: #e2ecf5;
  }
  #unterbruch-einfuehrung:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 100%;
    margin-top: -1px; /* solves an issue with subpixel rendering sometimes showing a seam */
    left: 0;
    right: 0;
    height: 21px;
    background-image: url('../img/paper-tear-blue-01-01.png');
  }

.linie {
    border: 1px solid grey;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}

.spikes {
    position: relative;
    background: teal;
    height: 1vh;
  }
  
  .spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 10px;
    background-size: 10px 100%;
    background-image: linear-gradient(135deg, teal 25%, transparent 25%), linear-gradient(225deg, teal 25%, transparent 25%);
    background-position: 0 0;
  }

.medusa {
    padding: 0px 70px 60px 70px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  .medusatitel {
    padding: 30px 0 0 70px;
  }
  
  .medusatext { 
    width: 70%;
 }

 .saeule {
    width: 30%;
 }
  
  .saeule img { 
    width: 50%;
    height: auto;
 }
  
h3 {
    text-align: left;
}

.goetter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px 0 70px;
    gap: 30px;
    /* background-color: blue; */
}

 .gott-athena {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    /* background-color: turquoise; */
}

.athena {
    text-align: center;
    padding: 0 15px 0 15px;
    /*background-image: url('../img/Athena.png');
    background-size: 100%;*/
}

.gott-poseidon {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row; 
}

.poseidon {
    text-align: center;
    padding: 0 15px 0 15px;
}

#unterbruch {
    position: relative;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 10px;
  }
  #unterbruch:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 100%;
    margin-top: -1px; /* solves an issue with subpixel rendering sometimes showing a seam */
    left: 0;
    right: 0;
    height: 37px;
    background-image: url('https://gschoppe.com/wp-content/uploads/2018/04/seamless-paper-tear.png');
  }

  .me-titel {
    padding-left: 30px;
  }

  .me {
    padding: 70px;
    background-color: #404040;
    color: white;
  }

  .me-box {
    padding: 30px 30px 70px 30px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    gap: 30px;
  }

.about {
    width: 70%;
}

.bild-jasmin {
    width: 30%;
}

  .bild-jasmin img {
    height: auto;
    width: 70%;
    border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px
  }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* -------------------------- */
/* ----- ANIMATIONS --------- */
/* -------------------------- */

/* fade in von unten */
.fade-in {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 2s all ease;
    
  }
  
  .active {
    transform: translateY(0);
    opacity: 1;
    z-index: 999;
    overflow: hidden;
  }
  
  /* fade in von links */
  .fade-in-left {
      /* transform: translateX(-50%);  */
      /* transform: translateY(200); */
      transform: translate3d(-150px, 0, 0);
  }
  
  .fade-in-left.active {
      /* transform: translateX(0); */
      /* transform: translateY(0); */
      transform: translate3d(0, 0, 0);
  }
  
  
  /* fade in von rechts */
  .fade-in-right {
      transform: translate3d(150px, 0, 0);
  }
  
  .fade-in-right.active {
      transform: translateX(0);
      transform: translate3d(0, 0, 0);
  }
  
  /* fade in von oben */
  .fade-in-top {
      transform: translateY(-50px);
  }
  
  .fade-in-top.active {
      transform: translateY(0);
  }
  
  
  
  
/* -------------------------- */
/* ------- RESPONSIVE ------- */
/* -------------------------- */

@media (max-width: 1200px) {
    .text-einfuehrung {
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .text-einfuehrung {
        max-width: 100%;
        padding: 30px 50px 0 50px;
    }


}

@media (max-width: 480px) {
    .text-einfuehrung {
        max-width: 70%;
        padding: 15px 40px 0 40px;
    }

    .title-text {
        padding-top: 40px;
    }

    .medusa {
        flex-direction: column;
    }

    .medusatitel {
        text-align: center;
        padding: 40px 0 20px 0;
        margin: 0;
    }

    .medusatext {
        text-align: center;
        width: 90%;
    }

    .saeule img {
        text-align: center;
    }

    .goetter {
        flex-direction: column;
    }

    .me-titel {
        text-align: center;
        padding: 0;
    }

    .me-box {
        flex-direction: column;
    }
}



